
.App {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.trello-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trello-header {
  flex: 1;
  height: 50px;
  background-color: #999;
}

.trello-board {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.trello-section {
  flex: 1;
  margin: 0 15px 15px 15px;
  border: 1px solid #888;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.trello-section:first-of-type {
  margin: 15px;
}

.section-header {
  height: 75px;
  text-align: center;
  padding-top: 25px;
  color: #eee;
}

.section-input-container {
  display: flex;
  border-top: 1px solid #aaa;
  margin-top: auto;
  padding-left: 10px;
}

.section-input {
  flex: 5;
  height: 30px;
  border: none;
  background-color: transparent;
}

.section-input-submission {
  flex: 1;
  border: none;
  border-left: 1px solid #aaa;
  background-color: transparent;
  box-shadow: none;
}

.section-input-submission:hover {
  cursor: pointer;
}

.card {
  height: 45px;
  border-bottom: 1px solid #aaa;
  position: relative;
}

.card p {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}



@media only screen and (max-width: 400px) {

}

@media only screen and (min-width: 401px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {
  .trello-board {
    flex-direction: row;
  }

  .trello-section {
    margin: 15px 15px 15px 0px;
  }
}


