
.App {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.trello-container {
  margin: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.trello-header {
  flex: 1;
  height: 50px;
  background-color: #999;
}

.trello-board {
  flex: 5;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.trello-section {
  border: 1px solid #aaa;
  width: 100px;
  flex: 1;
  margin: 15px 0;
  margin-right: 15px;
}

.trello-section:first-of-type {
  margin-left: 15px;
}




