
.App {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.trello-container {
  margin: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.trello-header {
  flex: 1;
  height: 50px;
  background-color: #999;
}

.trello-board {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.trello-section {
  border: 1px solid #aaa;
  flex: 1;
  margin: 0 15px 15px 15px;
}

.trello-section:first-of-type {
  margin: 15px;
}

@media only screen and (max-width: 400px) {

}

@media only screen and (min-width: 401px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {
  .trello-board {
    flex-direction: row;
  }

  .trello-section {
    margin: 15px 15px 15px 0px;
  }
}


